<div class="container">
  <!-- Barre latérale (dashboard) -->
  <mat-toolbar>
    <ng-container>
      <button mat-flat-button routerLink="/dashboard-client">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </button>
      <button mat-flat-button routerLink="/client-add-appointments">
        <mat-icon>event</mat-icon>
        Add Appointment
      </button>
      <button mat-flat-button routerLink="/client-appointments">
        <mat-icon>schedule</mat-icon>
        Logout
      </button>
    </ng-container>
  </mat-toolbar>

  <!-- Contenu spécifique à Add Appointment -->
  <div class="content">
    <!-- Exemple de contenu -->
    <h2>Ajouter un Rendez-vous</h2>
    <p>Sélectionnez une date et une heure pour réserver un rendez-vous.</p>
    <!-- Ajoutez ici votre contenu spécifique -->
  </div>
</div>
